body{
    font-family: Arial;
    margin:0;
    background:#f4f4f4;
}

/* NAVIGATION */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#222;
    color:white;
    padding:15px 40px;
    flex-wrap:wrap;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
    flex-wrap:wrap;
    padding:0;
}

nav a{
    color:white;
    text-decoration:none;
}

/* HEADER */
header{
    text-align:center;
    padding:80px 20px;
    background:#0077ff;
    color:white;
}

.ueberschrift{
    font-family: 'Unbounded', sans-serif;
    font-size: 100px;
}
/* ABOUT */
.about-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.about-box{
    max-width:800px;
    width:100%;
}

/* SECTIONS */
section{
    padding:50px 20px;
}

h2{
    text-align:center;
}

/* SKILLS */
.skills-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.skill{
    background:#0077ff;
    color:white;
    padding:15px 25px;
    border-radius:10px;
}

/* PROJECTS */
.project-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.project{
    display:flex;
    flex-direction:column;
    background:white;
    padding:20px;
    width:250px;
    max-width:90%;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* PDF */
.pdf-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.pdf-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:350px;
    max-width:90%;
}

iframe{
    width:100%;
    height:500px;
    border:1px solid #ccc;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#4e4e4e;
    color:white;
    font-size: medium;
}

a{
    color:#f4f4f4;
}